<form>
  <input type="text" placeholder="Search" [(ngModel)]="reponame" (keyup.enter)="search()" name="reponame">
  <button (click)="search()">Search</button>
</form>

<div *ngFor="let repo of repos | paginate: { itemsPerPage: 10, currentPage: p }">
      <a href="{{repo.html_url}}" target="blank">{{repo.name}}</a>
      <p>Owner: {{repo.owner.login}}</p>
      <p>Stars: {{repo.stargazers_count}}</p>
      <p *ngIf="repo.open_issues">Issues: {{repo.open_issues}}</p>
      <img *ngIf="repo.owner.avatar_url" src="{{repo.owner.avatar_url}}" alt="{{repo.owner.login}} logo">
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

